.main-container {
  margin: 0;
  opacity: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 300px;

  .image-container {
    width: fit-content;
    height: auto;
    border: 1px solid white;
    background: #725dff;
    border-radius:50%;
    padding: 35px;
  }

  span {
    font-size: 48px;
  }

  figcaption {
    text-align: center;
    font-size: 22px;
  }
}

.main-container-visible {
  @extend .main-container;
  opacity: 1;
}