.default {
    border: solid 1.5px white;
    // border-radius: 13px;
    min-width: 275px;
    min-height: 72px;
    padding: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-weight: bolder;
    font-size: 25px;
    // box-shadow: 0px 0px 30px 1px white;
    color: white;
    background: transparent;
    transition: background .2s ease-in;
    i {
        display: block;
        transition: transform 0.5s ease;
        
    }

    &:hover {
        background: #82bee0;
        border: solid 1.5px #82bee0;
       // box-shadow: 0px 0px 6px 6px white;
       i {
            transform: rotate(90deg);
       }
    }
}
