@import '../../styles/global.scss';

.main-container {
  width: 100%;
  height: 100vh;
  // background: url(../../images/home.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  background: linear-gradient(-45deg, #403dff, #715eff, #b000cf, #006878);
	background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  h1 {
    @extend .main-title;
    font-size: 40px;

    &:last-of-type {
      margin-top: 25px;
    }
  }

  figure {
    height: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;

    figcaption {
      @extend .main-title;
      display: flex;

      .Typewriter {
        display: inline;
      }
      span {
        margin: 0;
        letter-spacing: 2px;
        font-size: 50px;
        overflow: hidden;
        color: #9cdcfe;
      }
    }
    .code {
      font-size: 50px;
      color: purple;
    }
  }
}
