@import "../../styles/global.scss";

// $hover-color: rgba(255,255,255,0.8);

.main-container {
  @extend .navigation-font-size;
  background: transparent;
  z-index: 2;
  // border: black 1px solid;
  height: 60px;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.selected {
  // background: $hover-color;
  color: salmon;
}

.sticky {
  background: $num-bg-color;
  position: fixed;
  top: 0;
}

.logo {
  width: fit-content;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 50px;

  div:first-of-type { // image wrapper
    height: 1.7em;
    width: 1.7em;
  }

  &:hover {
    cursor: pointer;
  }

  span {
    color: $logo-color;
  }

  p {
    padding-left: 10px;
    color: $code-bracket-color;
  }
}

nav {
  height: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  li {
    padding: 14.5px 20px;
    text-transform: uppercase;
    text-emphasis: bolder;
    color: white;
    transition: background .2s ease-in;
    transition: color .1s ease-in;
    cursor: pointer;
    &:hover {
      @extend .selected;
    }
  }
}
