@import "../../styles/global.scss";

// $hover-color: rgba(255,255,255,0.8);

.main-container {
  @extend .navigation-font-size;
  background: transparent;
  z-index: 2;
  // border: black 1px solid;
  height: 60px;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

a {
  height: fit-content;
  padding-top: 0;
  padding-bottom: 0;
}

a > li {
  list-style: none;
  border-left: solid purple 2px;
  padding: 3px 10px;
  text-transform: uppercase;
  text-emphasis: bolder;
  color: white;
  transition: background .2s ease-in;
  transition: color .1s ease-in;
  cursor: pointer;
  &:hover {
    @extend .selected;
  }
}

.selected {
  // background: $hover-color;
  color: $selected;
}

.sticky {
  background: $num-bg-color;
  position: fixed;
  top: 0;
}

.logo {
  width: fit-content;
  & > div {
    margin-right: 0;
  }
  display: flex;
  flex-flow: row;
  align-items: center;
  @media only screen and (max-width: $desktop) {
    padding-left: 0;
    width: 200px;
  }
  padding: 0 50px;

  &:hover {
    cursor: pointer;
  }

  span {
    color: $logo-color;
  }

  p {
    padding-left: 10px;
    color: $code-bracket-color;
    &:last-of-type {
      padding-right: 10px;
    }
  }
}

nav {
  height: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row;

  @media only screen and (max-width: $desktop) {
    flex-flow: column;
    justify-content: space-around;
  }

  li {
    padding: 14.5px 20px;
    text-transform: uppercase;
    text-emphasis: bolder;
    color: white;
    transition: background .2s ease-in;
    transition: color .1s ease-in;
    cursor: pointer;
    &:hover {
      @extend .selected;
    }
  }
}
