$code-bracket-color: purple;
$gradient-color-1: #403dff;
$gradient-color-2: #715eff;
$gradient-color-3: #b000cf;
$gradient-color-4: #006878;
$black: #252934;
$blacker: #1e242c;
$logo-color: #9cdcfe;

$num-bg-color: #544aff;