// @import "./styes/typewritter.scss";
@import './colors.scss';

.main-title {
  color: aliceblue;
  font-size: 55px;
  text-align: center;
}

.subtitle-paragraph {
    color: #616161;
    font-size: 33px;
    text-align: center;
}

