// @import "./styes/typewritter.scss";
@import './colors.scss';

.main-title {
  color: aliceblue;
  font-size: 40px;
  text-align: center;
}

.subtitle-paragraph {
    color: #616161;
    font-size: 23px;
    text-align: center;
}

.navigation-font-size {
  font-size: 20px;
}

/*.Typewriter {
  width: 5.2em;
} */