@import '../../styles/global.scss';

.sticky {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.main-container {

        header {
            @extend .navigation-font-size;
            position: sticky;
            width: 100%;
            height: 60px;
            padding: 5px 0;
            background-color: $num-bg-color;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: fit-content;
                p, span {
                    margin: 0;
                    padding: 0;  
                }
                p {
                    color: $code-bracket-color;
                }
                span {
                    color: $logo-color;
            }
        }

        div:first-of-type {
            width: 40px;
            height: 40px;
        }

        div {
            margin-right: 15px;
        }
    }
}

.heading {
    margin-top: 130px;
    width: fit-content;
    margin: 50px auto;
    text-align: center;
    
    & > div {
        margin: 0 auto;
        width: 33vw;
        max-height: 400px;
    }
}

.body {
    width: 50vw;
    margin: 0 auto;
}