@import '../../styles/global.scss';

.hide {
    top: -60px;
}

.main-container {
    @extend .navigation-font-size;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    transition: top ease-in-out 1s;
    padding: 5px 0;
    background-color: $num-bg-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .n-p {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: fit-content;
        span {
            padding: 0 10px;
            color: $logo-color;
        }
        i {
            color: purple;
        }
    }

    div {
        margin-right: 15px;
    }
}