.main {
  opacity: 1;
  height: 10px;
  width: 30vw;
  background: rgb(4,0,255);
  background: linear-gradient(90deg, rgba(4,0,255,1) 0%, rgba(74,235,41,1) 50%, rgba(4,0,255,1) 100%);
  margin: 0 auto;
}

.blog {
  opacity: 1;
  height: 6px;
  width: 10vw;
  background: gray;
  margin: 0 auto;
}