@import '../../styles/global.scss';

.main-container {
    ul {
        @media screen and (max-width: $desktop) {
            width: 90vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        > div > div {
            width: 287px;
            margin-bottom: 12px;
        }

        a {
            text-decoration: none;
            color: black;
            margin: 0 5px;
            padding: 0 -5px;

            > div > div {
                @media screen and (max-width: $desktop) {
                    width: 90vw;
                    width: 100px;
                }
                width: 170px;
                margin-bottom: 12px;
            }

            p {
                margin: 0;
            }
        }
        margin-top: 50px;
        padding: 0;
        width: 50%;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;

        h3 {
            height: 45px;
        }
    }

    h2 {
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}