@import '../../styles/global.scss';

.main-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  padding: 0 12%;
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: white;

  h1 {
    @extend .main-title;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 45px;
    display: block;
    background-image: linear-gradient(to left, #b000cf, #715eff, #403dff, #006878);
    background-clip: text;
    color: transparent;
  }

  p {
    @extend .subtitle-paragraph;
  }

  ul {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: auto 0;
    margin-bottom: 5%;
  }
}
