@import '../../styles/global.scss';

.main-container {
    // margin: 0 10px;
    
    @media screen and (max-width: $desktop) {

    & > div {
        margin: auto;
    }
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        width: 40vw;
        h3 {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }
    }
}
